<!-- invoice_detail.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Invoice Detail</title>
</head>
<body>
	<h1>Invoice details:</h1>

	<ul>
        	<li>Total amount:     {{ student.total_amount }}</li>
        	<li>Amount due  :     {{ student.amount_due }}</li>
		<li>Payment due date: {{ student.payment_due_date }}</li>
		<li>Status: 	      {{ student.status }}</li>
		<li>Academic year:    {{ invoice.academic_year }}</li>
		<li>Term:  	      {{ invoice.term }}</li>
	</ul>
</body>
</html>
