{% load static %}
<!-- performance_delete.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete performance</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h2>Delete performance</h2>

    <p>Are you sure you want to delete {{ performance.id }}?</p>

    <form method="post">
    	{% csrf_token %}
    	{{ form.as_p }}
    <button type="submit">Yes</button>
    <a href="{% url 'performances' %}">Cancel</a>
</form>
</body>
</html>
